body{
    background-color: #ccc;
    color: #000 !important;
    /*padding-top: 80px;*/
    position: relative;
}
.top-nav-collapse {
    background-color: #3F729B !important;
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .navbar {
         background-color: #3F729B !important;
    }
}


#about{
    height: 1000px;
    background: url(../img/bg1.jpg) fixed no-repeat center center;
    background-size: cover;
}

#team{
    background-color: #ccc;
}
#contacts{
}
#docs{
    background-color: gold;
}
section{
    border: 0px solid red;
}
footer{
    height: 400px;
    background-color: #000;
    border: 0px solid red;
}
.alert_block{
    /*height: 200px;*/
    background-color: #fff;
}
.fa-exclamation-triangle,
.red-text{
    color: red;
}
/**/
.about_block{
    text-align: center;
    padding-top: 50px;
}
.main_title{
    color: #fff;
    font-size: 32px;
    border-bottom: 0px solid #fff;
}
.alert_block{
    text-align: justify;
}
section{
    padding: 30px 0px 30px 0px;
}
.bottom_button{
    color: #fff;
    border: 2px solid #fff;
    width: 40px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
.bottom_button a{
    color: #fff;
}