body{
    background-color: #ccc;
    color: #000 !important;
    /*padding-top: 80px;*/
    position: relative;
}
.top-nav-collapse {
    background-color: #3F729B !important;
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .navbar {
         background-color: #3F729B !important;
    }
}


#about{
    height: 1000px;
    background-image: url(../img/bg1.jpg);
    background-size: cover;
}

#team{
    background-color: #ccc;
}
#contacts{
}
#docs{
    background-color: gold;
}
section{
    border: 0px solid red;
}
footer{
    height: 400px;
    background-color: #000;
    border: 0px solid red;
}